<style>
.btn-search{
  background-color:#fe424d;
  color: white;
  border-radius: 25px;
  padding: 0 1rem 0 1rem;
  &:hover{
     background-color:#fe424d;
  color: white;
  }
}
.btn-search i{
  display: inline;
  margin-right: 0.5rem;
}
.search-input{
  border-radius: 25px;
  padding: 0.5rem 3rem 0.5rem 3rem;
}
</style>



<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listing"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAtMarku">
       <div class="navbar-nav">
                <a class="nav-link" href="/listing">Explore</a>
              </div>
              <div class="navbar-nav ms-auto">
                  <form class="d-flex" role="search" method="GET"  action="/listing/search">
      <input class="form-control me-2 search-input" type="search" name="country" placeholder="Search Destination"  list="country-suggestions" />
        <datalist id="country-suggestions">
    <option value="United States">
    <option value="India">
    <option value="United Kingdom">
    <option value="Greece">
    <option value="Switzerland">
  </datalist>
      <button class="btn btn-search" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>Search</button>
    </form>
              </div>
        <div class="navbar-nav ms-auto">
           <a class="nav-link" href="/listing/new">Airbnb</a>
          <% if(!currentUser) {%>
         <a class="nav-link" href="/login">Log in</a>
                <a class="nav-link" href="/signup">Sign up</a>
            <% } %>
            <% if(currentUser){ %>
 <a class="nav-link" href="/logout">Log out</a>
            <% } %>
        </div>
      </div>
    
    </div>
  </nav>